---
layout: home
---

<div class="banner">
    <img src="/img/banner.jpg">
</div>

<div class="intro">
    <div class="intro-content page-container">
        <div class="intro-item theology">
            <div class="description">
                <p><strong>Jesus Christ</strong> has impacted me more than anything or anyone else.</p>
                <p class="more"><img src="/img/arrow-theology.svg"> Posts about Jesus</p>
            </div>
            <div class="intro-icon"></div>
        </div>
        <div class="intro-item technology">
            <div class="description">
                <p><strong>Technology</strong> has held my interest as long as I can remember.</p>
                <p class="more"><img src="/img/arrow-technology.svg"> Posts about Tech</p>
            </div>
            <div class="intro-icon"></div>
        </div>
    </div>
</div>

<div class="posts page-container">
    {% for post in site.posts %}
        {% include post.html post=post %}
    {% endfor %}
</div>
