---
layout: home
---

<div class="banner">
    <img src="/img/banner.jpg">
</div>

<div class="intro">
    <div class="intro-content page-container">
        <div class="intro-item theology">
            <div class="description">
                <strong>Jesus Christ</strong> has impacted me more than anything or anyone else.
            </div>
            <div class="intro-icon"></div>
        </div>
        <div class="intro-item technology">
            <div class="description">
                <strong>Technology</strong> has held my interest as long as I can remember.
            </div>
            <div class="intro-icon"></div>
        </div>
    </div>
</div>

<!-- <div class="posts page-container">
    <div class="posts-theology-container">
        {% for post in site.categories.theology limit:3 %}
            {% include post.html post=post %}
        {% endfor %}
    </div>
    <div class="posts-technology-container">
        {% for post in site.categories.technology limit:3 %}
            {% include post.html post=post %}
        {% endfor %}
    </div>
</div> -->

<div class="all-posts page-container">
    {% include posts.index.html %}
</div>
