/**
 * Font Stacks
 */
$serifFontStack: Vollkorn, Georgia serif;
$sansSerifFontStack: Raleway, Helvetica, Arial, sans-serif;

/**
 * Bitters Base Styles
 */
$font-stack-system: $serifFontStack;
$base-font-family: $sansSerifFontStack;
