.category-tag {
    background-color: $light-gray;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: 0.65em;
    font-weight: bold;
    padding: 2px 4px;
    text-transform: uppercase;
    white-space: nowrap;

    &.technology {
        background-color: $technology-color;
        color: white;
    }

    &.theology {
        background-color: $theology-color;
        color: white;
    }
}

.categories .category-tag {
    margin-right: 0.5em;
}
