body.home {

    .banner img {
        display: block;
        width: 100%;
    }

    .intro {
        background-color: $darker-gray;
        color: white;
        font-family: $heading-font-family;
        font-size: 1.5em;
        font-weight: 300;

        p strong {
            font-weight: 800;
        }
    }

    .intro-content {
        position: relative;
    }

    .intro-item {
        padding: 1em 0;
        position: relative;

        &.theology {
            strong {
                color: $theology-color;
            }
        }

        &.technology {
            strong {
                color: $technology-color;
            }
        }

        .description {
            padding-left: 20%;
        }
    }

    .intro-icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 3em 2em;
        bottom: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 15%;
    }

    .theology .intro-icon {
        background-color: mix($theology-color, $darker-gray, 15);
        background-image: url('/img/theology.svg');

        &:after {
            background-color: mix($theology-color, $darker-gray, 15);
        }
    }

    .technology .intro-icon {
        background-color: mix($technology-color, $darker-gray, 15);
        background-image: url('/img/technology.svg');

        &:after {
            background-color: mix($technology-color, $darker-gray, 15);
        }
    }

    .posts {
        overflow: auto;
        position: relative;

        &:after {
            bottom: 0;
            content: "";
            background-color: fade-out($darker-gray, 0.9);
            display: block;
            left: 50%;
            margin-left: -1px;
            position: absolute;
            top: 0;
            width: 2px;
            z-index: 20;
        }
    }

    .posts-theology-container {
        width: 50%;
        float: left;
    }

    .posts-technology-container {
        margin-left: 50%;
    }

    /**
     * Home Page Post Overrides
     */

     .post {
         &.category-technology {

             .post-title {
                 float: right;
             }

             .post-meta {
                 float: left;
             }

             .post-content {
                 margin-left: 25%;
                 width: auto;
             }
         }
     }

}
